<HTML>
<HEAD>
<TITLE>Example Website Version <%= @website_version %></TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<H2>The version of the website is: <%= @website_version %></H2>
<script type="text/javascript" src="http://<%= @counter_dns %>/count.php?page=version"><!--//--></script>
</BODY>
</HTML>